{% extends "layouts/admin.html" %}
{% block content %}
<h1>Edit Jadwal</h1>

<div class="card">
<form method="POST">

    <label>Tanggal</label>
    <input type="date" name="Tanggal" value="{{ Jadwal.Tanggal }}" required>

    <label>Waktu Pemberangkatan</label>
    <input type="time" name="Waktu_Pemberangkatan" value="{{ Jadwal.Waktu_Pemberangkatan }}" required>

    <label>Waktu Tiba</label>
    <input type="time" name="Waktu_Tiba" value="{{ Jadwal.Waktu_Tiba }}" required>

    <label>Harga</label>
    <input type="number" name="Harga" value="{{ Jadwal.Harga }}" required>

    <button class="btn btn-primary" type="submit">Update</button>

</form>
</div>

{% endblock %}
