{% extends "layouts/admin.html" %}
{% block content %}
<h1>Kelola Jadwal</h1>

<a href="/admin/jadwal/tambah" class="btn btn-primary">+ Tambah Jadwal</a>

<div class="card">
<table>
    <tr>
        <th>ID</th>
        <th>Tanggal</th>
        <th>Berangkat</th>
        <th>Tiba</th>
        <th>Harga</th>
        <th>Kursi</th>
        <th>Aksi</th>
    </tr>

    {% for j in data %}
    <tr>
        <td>{{ j.Id_Jadwal }}</td>
        <td>{{ j.Tanggal }}</td>
        <td>{{ j.Waktu_Pemberangkatan }}</td>
        <td>{{ j.Waktu_Tiba }}</td>
        <td>Rp {{ '{:,.0f}'.format(j.Harga) }}</td>
        <td>{{ j.Kursi_Tersedia }}</td>
        <td>
            <a class="btn btn-warning" href="/admin/jadwal/edit/{{ j.Id_Jadwal }}">Edit</a>
            <a class="btn btn-danger" href="/admin/jadwal/hapus/{{ j.Id_Jadwal }}">Hapus</a>
        </td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
